html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100%;
}

/* 
.container {

  MAU PAKE KONTAINER???? PAKE px-[4rem] AJA!!!!


  Kalo mau buat ikon dan tulisan sejsajar harus kaya gini
  <div className=" h-full w-26 flex  items-center ">
                            <div className="pr-2 font-semibold whitespace-nowrap">{item.logo}</div>
                            <div className="font-semibold whitespace-nowrap">{item.name}</div>
                          </div>
 */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  background-color: #015e95;
}

/*

.color {
color: #504CD8
color: #4E6FF4
color: #504CD8
}

*/

/*
.status-requestcard {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  margin: 9px 6px 0px 20px;
}
*/

.status-requestcard.pending {
  background-color: #febd57;
}

.status-requestcard.accept {
  background-color: #1abc9c;
}

.status-requestcard.decline {
  background-color: #fe5761;
}
////////////////////

.status-historyTransaction.pending {
  background-color: #febd57;
}

.status-historyTransaction.success {
  background-color: #1abc9c;
}

.status-historyTransaction.failed {
  background-color: #fe5761;
}

.cardindex {
  place-items: center;
}

.indexstat.Publish {
  background-color: #1abc9c;
}

.indexstat.Expire {
  background-color: #fe5761;
}

.cell-breakWord {
  word-wrap: break-word;
  max-width: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
